.container-minimized {
    @extend .container;
}

.role-card-minimized {
    @extend .card-minimized;
    @extend .role-card;
}

.role-card-minimized:hover {
    @extend .role-card-minimized;
}

.role-card-minimized.active {
}

.role-card-minimized.inactive {
   @extend .inactive-card;
}


.role-photo-minimized {
    @extend .role-photo;
    @extend .card-photo-minimized;
}

.role-text-minimized {
    @extend .role-text;
    @extend .card-text-minimized;
}

.role-text-minimized:before {
    content: 'I will ';
}

.shotgun-minimized {
    @extend .role-card-minimized;
    @include transform-origin(top);
}

.shotgun-minimized:hover {
    @include transform-origin(top);
}

.shotgun-photo-minimized {
    @extend .role-photo-minimized;
    background-image: url($imageDir + shotgun + $imageExt);
}

.shotgun-text-minimized {
    @extend .role-text-minimized;
}

.driver-minimized {
    @extend .role-card-minimized;
    @include transform-origin(top);
}

.driver-minimized:hover {
    @include transform-origin(top);
}

.driver-photo-minimized {
    @extend .role-photo-minimized;
    background-image: url($imageDir + driver + $imageExt);
}

.driver-text-minimized {
    @extend .role-text-minimized;
}
