.role-card-maximized {
    @extend .role-card;
    @extend .card-maximized;
    flex-basis: 50%;
}

.role-card-maximized:hover {
    @include transform-custom(
        (
            scale(1.10),
            translateY(-45%)
        )
    );
}

.role-photo-maximized {
    @extend .role-photo;
}

.role-text-maximized {
    @extend .role-text;
}

.shotgun-maximized {
    @extend .role-card-maximized;
    right: 0;
}

.shotgun-maximized:hover {
    right: 20px;
}

.shotgun-photo-maximized {
    @extend .role-photo-maximized;
    background-image: url($imageDir + shotgun + $imageExt);
}

.shotgun-text-maximized {
    @extend .role-text-maximized;
}

.driver-maximized {
    @extend .role-card-maximized;
    @include box-shadow(12px, 10px, 5px, 0px, 0.8);
    left: 0;
}

.driver-maximized:hover {
    left: 20px;
}
.driver-photo-maximized {
    @extend .role-photo-maximized;
    background-image: url($imageDir + driver + $imageExt);
}

.driver-text-maximized {
    @extend .role-text-maximized;
}
