@import '../../../shared/templates/styles/mixins';
@import '../../../shared/templates/styles/globalVariables';

.role-choice-maximized {
	@include box-sizing();
	display: flex;	
	justify-content: center;
	align-content: center;
	width: 90vw;
	height: 90vh;
	margin: 0 auto;
}

.role-card-maximized {
	display: flex;
	flex-direction: column;
	flex-basis: 45%;
}


@media screen and (min-width: 600px){
	.role-choice-maximized {
		flex-direction: row;
		flex-wrap: no-wrap;
		width: 100vw;
		height: 100vh;
	}
}

@media screen and (min-width: 600px){
	.role-card-maximized {
		@include vertical-align();
		margin: 0 20px;
		max-height: 20em;
		max-width: 20em;
	}
}



@media screen and (max-width: 599px){
	.role-choice-maximized {
		@include box-sizing();
		flex-direction: column;
		flex-wrap: wrap;
	}	
}

@media screen and (max-width: 599px){
	.role-card-maximized {
		position: relative;
		top: 0px;
		width: 80%;
		max-height: 10em;
		max-width: 30em;
		margin: 10px auto;
	}
}

.role-photo-maximized {
	height: 70%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.role-text-maximized {
	font: 2em normal, sans-serif;
	text-align: center;
	height: 30%;
}

.shotgun-maximized {
	@extend .role-card-maximized;
	@include box-shadow(20px, 20px, 30px, 5px, 0.75);
}

.shotgun-photo-maximized {
	@extend .role-photo-maximized;
	background-image: url($imageDir + shotgun + $imageExt);
}

.shotgun-text-maximized {
	@extend .role-text-maximized;
}

.driver-maximized {
	@extend .role-card-maximized;
	@include box-shadow(20px, 20px, 30px, 5px, 0.75);
}

.driver-photo-maximized {
	@extend .role-photo-maximized;
	background-image: url($imageDir + driver + $imageExt);
}

.driver-text-maximized {
	@extend .role-text-maximized;
}