$card-height: 20em;
$card-width: 20em;

%card {
    @include transform-origin(center center);
    @include box-shadow(10px, 10px, 5px, 0px, 0.8);
    position: relative;
    @include box-sizing();
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: $card-height;
    width: $card-width;
    @include transition-custom(
        (
            height 500ms ease-in-out,
            width 500ms ease-in-out,
            max-height 500ms ease-in-out,
            max-width 500ms ease-in-out,
            min-height 500ms ease-in-out,
            min-width 500ms ease-in-out,
            top 100ms ease-in-out,
            bottom 100ms ease-in-out,
            margin 100ms ease-in-out,
            left 100ms ease-in-out,
            right 100ms ease-in-out,
            transform 100ms ease-in-out, 
            box-shadow 100ms ease-in-out,
            -webkit-box-shadow 100ms ease-in-out,
            -moz-box-shadow 100ms ease-in-out,
            z-index 100ms step-end
        )
    );
}

%card-hover {
    @extend %card;
    @include box-shadow(11px, 11px, 10px, 0px, 0.7);
    @include transform-custom(
        (
            scale(1.10),
        )
    );
    @include transition-custom(
        (
            height 500ms ease-in-out,
            width 500ms ease-in-out,
            max-height 500ms ease-in-out,
            max-width 500ms ease-in-out,
            min-height 500ms ease-in-out,
            min-width 500ms ease-in-out,
            top 100ms ease-in-out,
            bottom 100ms ease-in-out,
            margin 100ms ease-in-out,
            left 100ms ease-in-out,
            right 100ms ease-in-out,
            transform 100ms ease-in-out, 
            box-shadow 100ms ease-in-out,
            -webkit-box-shadow 100ms ease-in-out,
            -moz-box-shadow 100ms ease-in-out,
            z-index 100ms step-start
        )
    );
    z-index: 1;
}

%card-text {
    font: 2em normal, sans-serif;
    text-align: center;
    flex-basis: 30%;
    flex-grow: 1;
}

%card-photo {
    margin: 0 auto;
    flex-basis: 70%;
    flex-grow: 2;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}