@mixin box-sizing() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $alpha) {
	-webkit-box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,$alpha);
	-moz-box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,$alpha);
	box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,$alpha);
}

@mixin vertical-align($top: 50%, $position: relative, $tY: $top * -1) {
	position: $position;
	top: $top;
	$translateY: $top * -1;
	@if $tY != false {
		$translateY: $tY
	}
	-webkit-transform: translateY($translateY);
	-ms-transform: translateY($translateY);
	transform: translateY($translateY);
}

@mixin transform-translate($x, $y) {
	-webkit-transform: translateY($x, $y);
	-ms-transform: translateY($x, $y);
	transform: translateY($x, $y);
}

@mixin transform-custom($transformList) {
	$transforms: '';
	@each $transform in $transformList {
		@if $transforms != '' { $transforms: $transforms + ' '};
		$transforms: $transforms + $transform;
	}
	-moz-transform: unquote($transforms);
	-webkit-transform: unquote($transforms);
	transform: unquote($transforms);
}

@mixin transition($propertyList, $duration: 2s, $timingFunction: ease-in-out, $delay: 0s) {
	$properties: '';
	@each $property in $propertyList {
		$property: $property + ' ' + $duration + ' ' + $timingFunction + ' ' + $delay;
		@if $properties != '' { $properties: $properties + ', ' };
		$properties: $properties + $property;
	}
	-moz-transition: unquote($properties);
	-webkit-transition: unquote($properties);
	transition: unquote($properties);
}

@mixin transition-custom($transitionList) {
	$transitions: '';
	@each $transition in $transitionList {
		@if $transitions != '' { $transitions: $transitions + ', '};
		$transitions: $transitions + $transition;
	}
	-moz-transition: unquote($transitions);
	-webkit-transition: unquote($transitions);
	transition: unquote($transitions);
}