@mixin box-sizing() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $alpha) {
	-webkit-box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,$alpha);
	-moz-box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,$alpha);
	box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,$alpha);
}

@mixin vertical-align($percent: 50%) {
  position: relative;
  top: $percent;
  -webkit-transform: translateY($percent * -1);
  -ms-transform: translateY($percent * -1);
  transform: translateY($percent * -1);
}