@import 'mixins';
@import 'globalVariables';

body {
	margin: 0;
	padding: 0;
}

#background {
	background-image: url($imageDir + background + $imageExt);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

@import 'material';
@import 'rolePick';