<div id="destination-container"
	(click)="setDestination($event)"
	[ngClass]="{
		'container-maximized': !destination,
		'container-minimized': destination
	}">
	<div id="destination"
		(mouseenter)="setHover(true)"
		(mouseleave)="setHover(false)"
		[ngClass]="{
			'destination-card-maximized': !destination,
			'destination-card-minimized': destination,
			'custom-hover': isHovered
	}">
		<div id="destination-text"
			[ngClass]="{
				'destination-text-maximized': !destination,
				'destination-text-minimized': destination
		}">{{hovered}}
			<div class="destination-text-question"
				[ngClass]="{
					'hidden-element': destination
			}">
				<p>Destination:</p>
				<input type="text" id="destination-input" placeholder="Where to?"
					[(ngModel)]="tempDestination"
					(keypress)="setDestination($event)"
				>
				<button id="submit-destination-btn" class="check-mark"
					(click)="setDestination($event)"
				>✓</button>
			</div>
			<div class="destination-text-answer"
				[ngClass]="{
					'hidden-element': !destination
			}">
				{{destination}}
			</div>
		</div>
		<div id="destination-photo"
			[ngClass]="{
				'destination-photo-maximized': !destination,
				'destination-photo-minimized': destination
		}">
		</div>
	</div>
</div>
