<div id="role-container" [ngClass]="{'container-maximized': !role, 'container-minimized': role}">
	<div id="driver"
		(click)="setRole($event)"
		[ngClass]="{
			'role-card-maximized': !role,
			'role-card-minimized': role,
			active: role === 'driver',
			inactive: role !== 'driver'
	}">
		<div id="driver-text"
			[ngClass]="{
				'driver-text-maximized': !role,
				'driver-text-minimized': role
			}">Want some company?
		</div>
		<div id="driver-photo"
			[ngClass]="{
				'driver-photo-maximized': !role,
				'driver-photo-minimized': role}">
		</div>
	</div>
	<div id="shotgun"
		(click)="setRole($event)"
		[ngClass]="{
			'role-card-maximized': !role,
			'role-card-minimized': role,
			active: role === 'shotgun',
			inactive: role !== 'shotgun'
		}">
		<div id="shotgun-text"
			[ngClass]="{
				'shotgun-text-maximized': !role,
				'shotgun-text-minimized': role
		}">Ride shotgun</div>
		<div id="shotgun-photo"
			[ngClass]="{
				'shotgun-photo-maximized': !role,
				'shotgun-photo-minimized': role
		}">
		</div>
	</div>
</div>
