<div id="role-choice" class="role-choice-{{rolePicker}}">
	<div id="driver" (click)="pickRole('driver')" class="role-card driver-{{rolePicker}}">
		<div id="driver-text" class="driver-text-{{rolePicker}}">Want some company?</div>
		<div id="driver-photo" class="driver-photo-{{rolePicker}}"></div>
	</div>
	<div id="shotgun" (click)="pickRole('shotgun')" class="role-card shotgun-{{rolePicker}}">
		<div id="shotgun-text" class="shotgun-text-{{rolePicker}}">Ride shotgun</div>
		<div id="shotgun-photo" class="shotgun-photo-{{rolePicker}}"></div>
	</div>
</div>